@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-base: #474955;
    --color-alt: #5A5C66;
}

table {
    margin:0;
    padding:0;
    background:none;
    border:none;
    border-collapse:collapse;
    border-spacing:0;
    background-image:none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-base);

}

main {
    width: 1232px;
    padding: 0 78px;
    margin: 0 auto;
}